body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2.5rem;
}
p{
    text-align: start;
    bottom: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.btn1{
    background-color: #d95980;
}
.btn2{
    background-color: #63aac0;
}
.btn3{
    background-color: #f99b45;
}
.btn4{
    background-color: #819ff9;
}

.gameFlash{
    background-color: white;
}

.userFlash{
    background-color: blueviolet;
}

.body{
    background-color: red;
}